/* Main CSS File */
:root {
  --primary: #44d62c;
}
.btn-success {
  background-color: var(--primary);
}
.card-body > a {
  color: var(--primary);
}
main {
  min-height: 80vh;
}
.rating span {
  margin: 0.1rem;
}
.navbar-brand {
  color: #44d62c !important;
  font-weight: bold;
  font-size: 24px;
}
h3 {
  padding: 1rem 0;
}
