/* Main CSS File */
:root {
  --primary: #44d62c;
  --grey: #222;
}
.nav-item > a {
  color: #44d62c;
}
.dropdown-item:focus,
.dropdown-item:hover {
  background-color: var(--grey);
}
.dropdown-item.active,
.dropdown-item:active {
  background-color: var(--primary);
}
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}
h3 {
  font-size: 1.2rem;
  padding: 0.5rem 0;
}
.btn-success {
  background-color: var(--primary);
}
.card-body > a {
  color: var(--primary);
}
main {
  min-height: 80vh;
}
.rating span {
  margin: 0.1rem;
}
.navbar-brand {
  color: #44d62c !important;
  font-weight: bold;
  font-size: 24px;
}
.navbar {
  background-color: #222 !important;
}
.list-group-item:hover {
  background-color: #222 !important;
  color: #adafae;
}
.list-group-item {
  border: none !important;
}
.list-group-item a {
  color: var(--primary);
}
